@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
$font: 'Lato', sans-serif;
$link_color:#4D8AD1;
body,html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #80e4f3;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 500px;
  .logo{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 100%;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    .img{
      width: 42px;
      height:42px;
      background-image: url(../img/logo.png);
      background-size: cover;
      transition: .2s;
      &:hover{
        transform: scale(0.8);
      }
    }
  }
  .car{
    background-color: #9cf7f8;
    right: -220px;
    top: 100px;
    position: absolute;
    width: 550px;
    height:550px;
    background: url(../img/breakdown.png) no-repeat;
    background-size: cover;
  }
  .num{
    background: #fffff0;
    font-family: 'Roboto', sans-serif;
    color: #555;
    border-radius: 7px;
    padding: 10px 10px;
    width: 400px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 9px #5566;
    height: 130px;
    .c{

      font-size: 20px;
    }
  .or{
    font-size: 20px;
   }
  }
  .menu{
    box-sizing: border-box;
    width: 100vw;
    height: 80px;
    background: #fffff0;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0px 5px #5566;
    ul{
      margin-top: 15px;
      display: flex;
      height: 100%;
      width: 75%;
      justify-content: space-between;
      align-items: center;
      li{
        background: white;
        height: 30px;
        width: 20%;
        list-style: none;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
          text-decoration: none;
          border-radius: 20px;
          font-family: $font;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          font-size: 20px;
          color:#4D8AD1;
          transition: .5s;
          &:hover{
            background: #4D8AD1;
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.pay{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 600px;
  .hand{
    width: 500px;
    height: 500px;
    background: url(../img/money.png) no-repeat;
    background-size: cover;
    position: absolute;
    top:830px;
    left: -40px;
  }
  .text{
    background: #fffff0;
    font-family: 'Roboto', sans-serif;
    color: #555;
    box-shadow: 0 0px 9px #5566;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 7px;
    margin-right: 80px;
    width: 30%;
    height: 120px;
    p{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 40px;
      span{
        font-size: 20px;
      }
    }
  }
}
.insurance{

  width: 100vw;
  height: 600px;
  h1{
    background: #fffff0;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #555;
    position: relative;
    top:100px;
    width: 400px;
    height: 120px;
    border-radius: 7px;
    margin-left: 60px;
    padding: 5px 20px;
    box-shadow: 0 0px 9px #5566;
    display: flex;
    flex-direction: column;
    margin-top: 400px;
    span{
      font-size: 20px;
    }
  }
  .paper{
    right: 0px;
    width: 500px;
    height: 500px;
    background: url(../img/insurance.png) no-repeat;
    background-size: cover;
    position: absolute;
    top:1600px;
  }
}
.buyCar{
  width: 100vw;
  height: 800px;
  display: flex;
  justify-content: flex-end;
  h1{
    background: #fffff0;

    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #555;
    padding: 20px;
    margin-top: 150px;
    margin-right: 80px;
    width: 300px;
    height: 110px;
    box-shadow: 0 0px 9px #5566;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    span{
      margin-top: 0px;
      transition: .5s;
      transform: translateY(25px);
    }
    .list{
      transform: translateY(-20px);
      transition: .5s;
      transition-delay: .1s;
      opacity: 0;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content:center;
      align-items: center;
    }
    &:hover{
      .span{
        transform: translate(0);
      }
      .list{
        opacity: 1;
      }
    }
  }ы
  .carHand{
    width: 500px;
    height: 500px;
    background: url(../img/car.png) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 2300px;
  }
}
.s{
  font-size: 12px;
}
.footer{
  width: 100vw;
  box-sizing:border-box;
  height: 130px;
  background: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  .num{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 40px;
  }
}
@keyframes
